<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smilegate Automation Testing">

    <test name="Run on Firefox browser">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.smilegate.users.User_Search" />
        </classes>
    </test>

<!--    <test name="Run on Chrome browser">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.smilegate.users.User_Search" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Run on Edge browser">-->
<!--        <parameter name="browser" value="edge"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.smilegate.users.User_Search" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>